.tabHeader {
<<<<<<< HEAD
  margin: 10px;
}
.formMain {
  margin-left: 30px;
  margin-right: 30px;
=======
  margin: 15px;
  margin-left: 19%;
  margin-right: 19%;
  text-align: center;
  border-color: #008be0;
  border-width: 0;
}
.formMain {
  margin-left: auto;
  margin-right: auto;
>>>>>>> dev
  border-width: 3px;
  border-style: solid;
  border-radius: 25px;
  padding: 20px;
  border-color: #008be0;
  text-align: center;
<<<<<<< HEAD
  width: auto;
}
.member {
  font-size: 35px;
=======
  width: 62%;
}
.member {
  font-size: 30px;
>>>>>>> dev
  background-color: #008be0;
  color: #ffffff;
  width: 50%;
}

.sponsor {
<<<<<<< HEAD
  font-size: 35px;
=======
  font-size: 30px;
>>>>>>> dev
  background-color: #008be0;
  color: white;
  width: 50%;
}

.formBox {
  border-color: #008be0;
  border-width: 2px;
  font-family: "Eina01-Regular";
}

.submitButton {
  background-color: #008be0;
  border: 3px;
  border-color: white;
<<<<<<< HEAD
  width: 200px;
=======
  width: auto;
>>>>>>> dev
  transition: 0.3s;
  font-size: 30px;
}
.submitButton:hover {
  background-color: black;
}
<<<<<<< HEAD

/* @media only screen and (max-width: 320px) {
  .member {
    font-size: 35px;
    background-color: #008be0;
    color: white;
    width: 150px;
  }

  .sponsor {
    font-size: 35px;
    background-color: #008be0;
    color: white;
    width: 150px;
  }
}

@media only screen and (max-width: 375px) {
  .member {
    font-size: 35px;
    background-color: #008be0;
    color: white;
    width: 150px;
  }

  .sponsor {
    font-size: 35px;
    background-color: #008be0;
    color: white;
    width: 150px;
  }
}

@media only screen and (max-width: 425px) {
  .member {
    font-size: 35px;
    background-color: #008be0;
    color: white;
    width: 200px;
  }

  .sponsor {
    font-size: 35px;
    background-color: #008be0;
    color: white;
    width: 200px;
  }
} */
=======
>>>>>>> dev
