@font-face {
  font-family: "DINCondensed-Bold";
  src: local("DINCondensed-Bold"),
    url("../../fonts/DINCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Eina01-Regular";
  src: local("Eina01-Regular"),
    url("../../fonts/Eina01-Regular.ttf") format("truetype");
}

.logo {
  height: 120px;
  width: 120px;
  margin-right: 0px;
  padding: 0px;
  float: left;
}

.lead {
  margin-top: 5%;
  color: white;
  transition: 0.3s;
  text-align: center;
  line-height: 1px;
  float: right;
}

.lead:hover {
  color: black;
  opacity: 1;
}

.primeText {
  font-size: 160%;
}
.subText {
  line-height: 1px;
  font-size: 65%;
  font-family: "Eina01-Regular";
}

.links {
  font-size: 25px;
  margin-right: 50px;
  opacity: 0.6;
  transition: 0.3s;
  margin-left: 30px;
}

.links:hover {
  opacity: 1;
}

@media only screen and (max-width: 950px) {
  .lead {
    margin-top: 0%;
    color: white;
    transition: 0.3s;
    text-align: center;
    line-height: 1px;
    float: right;
    margin: auto;
  }
  .primeText {
    font-size: 100%;
  }
  .subText {
    line-height: 1px;
    font-size: 45%;
    font-family: "Eina01-Regular";
    margin-left: 25px;
  }
  .links {
    font-size: 20px;
    margin: 10px;
    opacity: 0.6;
    transition: 0;
  }
  .links:hover {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .logo {
    height: 0;
    width: 0;
  }
}
