
#mission {
    height: 100%;
    width: 100%;
    font-family: 'Times';
    background-image: url('../images/btp_logo_1.jpg')no-repeat center center fixed;
    background-size: 50px;

}

#contact {

    background-image: url('../images/btp_logo_1.jpg')no-repeat center center fixed;

}

/* ************************ inclusion ************************ */

#inclusion .circular_reveal {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    align-content: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#inclusion .circular_reveal img {
    width: 100%;
}

#inclusion .circular_reveal::after {
    content: 'Inclusion';
    position: absolute;
    background: rgba(255, 255, 255, 0.705);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #008be0;
    font-size: 30px;
    transition: transform 0.2s cubic-bezier(0, 0, 0.3, 1),
    opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
    opacity: 0;
}

#inclusion .circular_reveal:hover::after {
    opacity: 1;
}

/* ************************ support ************************ */
#support .circular_reveal_s {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#support .circular_reveal_s img {
    width: 100%;
}

#support .circular_reveal_s::after {
    content: 'Support';
    position: absolute;
    background: rgba(255, 255, 255, 0.705);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #008be0;
    font-size: 30px;
    transition: transform 0.2s cubic-bezier(0, 0, 0.3, 1),
    opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
    opacity: 0;
}

#support .circular_reveal_s:hover::after {
    opacity: 1;
}
/* ************************ purpose ************************ */

#purpose .circular_reveal_p {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#purpose .circular_reveal_p img {
    width: 100%;
}

#purpose .circular_reveal_p::after {
    content: 'Purpose';
    position: absolute;
    background: rgba(255, 255, 255, 0.705);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #008be0;
    font-size: 30px;
    transition: transform 0.2s cubic-bezier(0, 0, 0.3, 1),
    opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
    opacity: 0;
}

#purpose .circular_reveal_p:hover::after {
    opacity: 1;
}
