
#mission {
    height: 100%;
    width: 100%;
    font-family: 'Times';
    background-image: url('../images/btp_logo_1.jpg')no-repeat center center fixed;
    background-size: 50px;
    
}

#contact {

    background-image: url('../images/btp_logo_1.jpg')no-repeat center center fixed;

}

.circular_reveal {
    width: 116px; 
    height: 116px; 
    border-radius: 50%;
    overflow: hidden;
}

.circular_reveal img {
    width: 100%; 
}

.circular_reveal::after {
    content: 'Inclusion';
    position: absolute; 
    background: rgba(255, 255, 255, 0.644);
    width: 100%; 
    height: 100%;
    left: 0;
    top: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #008be0; 
    font-size: 30px;
    transition: transform 0.2s cubic-bezier(0, 0, 0.3, 1),
        opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
    opacity: 0; 
}

.circular_reveal:hover::after {
    opacity: 1; 
}