
#mission {
    height: 100%;
    width: 100%;
    font-family: 'Times';
    background-image: url('../images/btp_logo_1.jpg')no-repeat center center fixed;
    background-size: 50px;
    
}

#contact {

    background-image: url('../images/btp_logo_1.jpg')no-repeat center center fixed;

}